.features {
  &__title {
    @include consentPaddingInline;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    text-transform: uppercase;
    color: #333;

    @include onDesktop {
      font-size: 56px;
    }
  }

  &__container {
    @include onTablet {
      @include consentPaddingInline;
    }
  }

  &__card-group {
    display: none;

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 52px;
    }
  }

  &__card {
    margin-top: 32px;
    padding-top: 30px;
    max-width: 320px;

    @include onTablet{
      max-width: 390px;
    }

    @include onDesktop {
      min-width: 100%;
    }

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &-main {
      // max-width: 100%;

      @include onTablet {
        @include consentPaddingInline;
        // min-width: 100%;
      }

      @include onDesktop {
        min-width: 100%;
      }

      &-1 {
        @include onDesktop {
          order: 2;
          padding-block-end: 60px;
        }
      }

      &-2 {
        @include onDesktop {
          order: -1;
          padding-block-start: 60px;
        }
      }

      &-3 {
        @include onDesktop {
          order: 1;
          padding-block-start: 60px;
        }
      }

      &-4 {
        @include onDesktop {
          order: 4;
        }
      }
    }

    &-top {
      display: flex;
    }
  }

  &__card-block {
    background-color: #cfeff0;
  }

  &__card-title {
    padding-inline-start: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 123%;
    color: #0c797a;
    text-transform: uppercase;

    @include onDesktop {
      margin: 0;
      font-size: 34px;
    }
  }

  &__card-list {
    display: grid;
    row-gap: 10px;
    width: 100%;
  }

  &__card-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #333;

    @include onDesktop {
      font-size: 16px;
    }
  }


  &__card-img {
    background-image: url("./images/features_img.png");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 90%;

    @include onTablet {
      background-image: url("./images/onTablet/features__img.png");
      background-position: right;
      background-size: contain;
      height: 30vh;
      width: 100%;
    }

    @include onDesktop {
      display: none;
    }

    &-main {
      @include onDesktop {
        background-image: url("./images/onDesktop/desktop__features.png");
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }
}

.slider {
  position: relative;

  @include onTablet {
    // padding-inline-start: 90px;
  }

  @include onDesktop {
    display: none;
  }
}

.slick-slide:not(:last-child) {
  margin-right: 140px;
}

.slick-track {
  display: flex;
  @include consentPaddingInline;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow {
  position: absolute;
  top: 420px;
  font-size: 0;
  width: 70px;
  height: 20px;
  border: none;
 }

 .slider .slick-arrow.slick-prev {
  left: 65px;
  background: url("./images/icon/arrowL.svg");
  background-repeat: no-repeat;
  background-size: 100%;
 }

 .slider .slick-arrow.slick-next {
  left: 135px;
  background: url("./images/icon/arrowR.svg");
  background-repeat: no-repeat;
  background-size: 100%;
 }

.count:active {
  color: #0c797a;
}
